@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,700;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-top: 70px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: #4e90cd;
  padding-bottom: 30px;
}

.titulosPaginas {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  color: #0d4070;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header_sticky {
  background-color: white;
  color: black;
  position: sticky;
  top: 10px;
  z-index: 10;
}

body {
  background-color: rgba(235, 233, 233, 0.593);
}

.body404 {
  background-color: white;
}

.mapas {
  width: 100%;
  height: 250px;
  border: 0;
}

@media only screen and (max-width: 768px) {
  .columnContainerFoot {
    flex-direction: column;
  }
  .imgtienda {
    height: 250px;
    object-fit: cover;
  }
  h1 {
    font-size: 20px;
  }
}
.imgbann2 {
  width: 100%;
}

a {
  text-decoration: none;
}

/* aca hice que los elementos de la pagina no se me subieran*/
.clearfix {
  clear: both;
}

.header .bannerPequeño {
  font-size: 12px;
  font-family: "Exo 2", sans-serif;
  background-color: #0d4070;
  color: white;
  height: 30px;
}
.header .navbar .logo {
  width: 300px;
  display: flex;
}
.header .navbar .div-nav .navbar-collapse .navbar-nav .nav-item {
  color: #2c69a3;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.header .navbar .div-nav .navbar-collapse .navbar-nav .nav-item:link {
  color: rgb(0, 0, 0);
}
.header .contenedorBann {
  position: relative;
}
.header .contenedorBann .img {
  filter: brightness(0.6);
  width: 100%;
}
.header .contenedorBann .fs-1 {
  position: absolute;
  top: 50%;
  color: rgb(255, 255, 255);
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  margin: 10px;
}

.main .sectionMain .tituloPrincipal {
  font-size: 2.5rem;
  color: #0d4070;
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .sectionMain .tituloProdIndex {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #4e90cd;
}
.main .sectionMain .row {
  padding-top: 10px;
  margin: 30px;
}
.main .sectionMain .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}
.main .sectionMain .card .card-index-text {
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
}
.main .sectionMain .card .card-index-text .blue_line {
  height: 19px;
  width: 4px;
  flex: 0 0 4px;
  background: #0d4070;
  display: inline-block;
  margin: -1px 5px 0 0;
  vertical-align: middle;
}
.main .sectionMain .card-index-img {
  background-color: rgba(235, 233, 233, 0.593);
}
.main .contBannUSN {
  padding-bottom: 30px;
  padding-top: 30px;
}
.main .contBannUSN .imgbanner2in {
  object-fit: cover;
}
.main .indexEnvioetc .text-area {
  padding-left: 10px;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
}
.main .indexEnvioetc h4 {
  font-size: 17px;
  font-family: "Exo 2", sans-serif;
}
.main .indexEnvioetc p {
  font-size: 13px;
  font-family: "Exo 2", sans-serif;
}
.main .indexEnvioetc .columnaEnvioetc {
  padding-top: 14px;
  padding-bottom: 14px;
  display: inline-flex;
  justify-content: center;
  border-left: 1px solid;
  border-color: white;
}

.mainContacto .contactForm {
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.mainContacto .contactForm .cajaContacto {
  background-color: white;
  align-items: center;
}
.mainContacto .contactForm .cajaContacto .parrafoContacto {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}
.mainContacto .contactForm .cajaContacto .row .form-label {
  font-size: 14px;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
}
.mainContacto .contactForm .cajaContacto .row .form-control {
  border-radius: 0rem;
}

.mainTienda .row .card .card-index-text {
  font-family: "Exo 2", sans-serif;
}

.mainUbicaion .direc {
  display: flex;
  color: black;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.mainUbicaion iframe {
  display: block;
  text-align: center;
}

.mainSN .row .tituloNuM {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin-left: 20px;
}
.mainSN .row .textoSN {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  margin-left: 20px;
}
.mainSN .row .contImgSN .imgSN {
  padding-top: 20px;
  padding-bottom: 30px;
}
.mainSN .row .textoSNgr1 {
  padding-top: 130px;
}
.mainSN .row .textoSNgr1 .textoSN1 {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}

.main404 .container404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main404 .container404 .texto404 {
  font-size: 20px;
}

.Footer {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.Footer .logoFooter {
  margin: auto;
  justify-content: center;
  width: 90%;
  display: flex;
  height: 40px;
  border-bottom: 1px solid black;
  margin-top: 20px;
}
.Footer .columnContainerFoot {
  width: 90%;
  display: flex;
  margin: 60px auto;
  height: auto;
  justify-content: center;
}
.Footer .columnContainerFoot .columnFoot {
  float: left;
  padding-left: 50px;
  text-align: center;
  justify-content: center;
}
.Footer .columnContainerFoot .columnFoot .columnHeadFoot {
  font-size: 17px;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
  text-align: left;
}
.Footer .columnContainerFoot .columnFoot a .itemColumnFoot {
  color: black;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Exo 2", sans-serif;
}

/*# sourceMappingURL=estilos.css.map */
