@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 300px; 
    display: flex;
}
 .logo a img{
     width: 100%;
}
/*
.contenedorBann{
    position: relative;
    display: inline-block;    
}*/

.fs-1{
    position: absolute;
    top: 50%;
    color: rgb(255, 255, 255);
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    margin: 10px;

}
.img{
    filter: brightness(0.60);
    width: 100%;
}
.imgbanner2in{
    object-fit: cover;
}

.navbar .nav-item .nav-link{
    color: #2c69a3;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    
}

.body{
    background-color: rgba(144, 140, 140, 0.229);
}

.PadreAnuncio{
    height: 60vh;
    display: flex;
    flex-direction: column;

}

h1{
    padding-top: 70px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    color: #4e90cd;
    padding-bottom: 30px;

}
.blue_line{
    height: 19px;
    width: 4px;
    flex: 0 0 4px;
    background: #004D97;
    display: inline-block;
    margin: -1px 5px 0 0;
    vertical-align: middle;
}
.bannerPequeño{
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    background-color: #0d4070;
    color: white;
}
.card-text{
    font-family: 'Exo 2', sans-serif;
}
.card{
    border-radius: 0rem;
}
.card-index-text{
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    
}
.card-index-img{
    background-color: rgba(255, 255, 255, 0.593);
}

.card-img{
    border-radius: 0rem;
}


.contactForm{
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.bodyContacto{
    background-image: url(../assets/img/PS\ Background\ 3.jpg);
}
.cajaContacto{
    background-color: white;
}


.Anuncio{
    text-align: center;
    justify-content: center;
}

.form-control{
    border-radius: 0rem;
}
.form-label{
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;

}
.form-group{
    width: 20rem;
}
.card{
    display: flex;    
    justify-content: center;
    align-items: center;
}
/*
.tituloPrincipal{
    font-size: 2.5rem;
    color: #2c69a3;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}*/
.galeria{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.divGaleria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    
.galeria .divGaleria{
    width: 200px;
    height: 300px;    
    padding-top: 30px; 
}
.divGaleria img{    
    border-radius: 50%;  
    
}
.tituloProdIndex{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #4e90cd;
}
.titulosPaginas{
    font-size: 2rem;
    color: black;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: #0d4070;
    padding-bottom: 20px;
    padding-top: 20px;
}




/* aca hice que los elementos de la pagina no se me subieran*/
.clearfix{
    clear: both;
}
.form{
    display: block;
}
.redes{
    font-size: 25px;
} 

.PadreProd{
    display: flex;   
    display: inline-block;   
}

.Productos{
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 12px;
    display: inline-block;
    margin: 20px;
  
}
.prod{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
} 
.Productos img{
    width: 230px;
    height: 230px;    
}

iframe{
    display: block;
    text-align: center;
}

.direc{
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 15px
}
.precios{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    color: black;


}
/*SOBRE NOSOTROS*/
.sectionSN{
    background-image: url(../assets/img/group-people-stacking-hands.jpg);
    background-size: cover;
    background-attachment: fixed;
    
 
}
.section{
    height: 55vh;
    
}
 .section .container{
    display: flex;
    justify-content: center;
}
.tituloSN{
    color: #ffffff;
    font-size: 3rem;
    padding-top: 150px;
}

.tituloNuM{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1.5px;

}
.textoSN{
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}
.row{
    padding-top: 10px;
    margin: 30px;
}


/* INDEX */

.containerEnviosetc{
    width: 100%;    
}
.text-area{
    font-family: 'Exo 2', sans-serif;;
}


.indexEnvioetc .text-area{
    padding-left: 10px;
    text-align: center;
    justify-content: center;
}
.indexEnvioetc h4{
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;;
}
.indexEnvioetc p{
    font-size: 11px;
    font-family: 'Exo 2', sans-serif;;
}
.indexEnvioetc .col-lg-4{
    padding-top: 14px;
    padding-bottom: 14px;
    display: inline-flex;
    justify-content: center;   
}

.indexEnvioetc .col-lg-4{
    border-left: 1px solid;
    border-color: white;
}
.contBannUSN{
    padding-bottom: 30px;
}
/*FOOTER*/
.Footer{
    position: absolute;    
    width: 100%;
    height: auto;
    background-color: #ffffff;   
}
.logoFooter{    
    margin: auto;
    justify-content: center;
    width: 90%;
    display: flex;
    height: 40px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}

.columnContainerFoot{
    width: 90%;
    display: flex;
    margin: 60px auto;
    height: auto;
    justify-content: center;  
    
}
.itemColumnFoot{
    color: black;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    font-family:'Exo 2', sans-serif ;
}
.columnFoot{
    float: left;
    padding-left: 50px;
    text-align: center;
    justify-content: center;

}
.columnHeadFoot{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    text-align: left;
}
a{
    text-decoration: none;
}
/* UBICACIÓN */
.direc{
    color: rgb(17, 38, 125);
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}
iframe{
    display: block;
    text-align: center;
    width: 100%;
}
