
.header {
    .bannerPequeño {
        font-size: 12px;
        font-family: $tipografia-principal;
        background-color: $color-principal;
        color: white;
        height: 30px;
    }
    .navbar{
        .logo{
            width: 300px;
            display: flex;
        }
    }
    
   
    .navbar{
        .div-nav{
            .navbar-collapse{
                .navbar-nav{
                    .nav-item{
                        &{ 
                            @include enlaces-nav($color-titulos-links,$tipografia-principal)
                        }
                        &:link{
                            color: rgb(0, 0, 0);
                        }
                        

                    }
                }
            }
        }
    }

    .contenedorBann {
        position: relative;
        .img {
            filter: brightness(0.60);
            width: 100%;
        }
        .fs-1{
            position: absolute;
            top: 50%;
            color: rgb(255, 255, 255);
            font-family: $tipografia-principal;
            font-weight: 700;
            margin: 10px;
        }
    }
}