

$tipografia-principal: 'Exo 2', sans-serif;
$background-transparente: rgba(235, 233, 233, 0.593);
$color-principal: #0d4070;
$font-weight-titulos: 700;
$text-align: center;
$color-titulos-links: #2c69a3;